/*  navbar  */
.navbar-default{
  background-color: white;
  border: 0;
}
/* Logo Name */
.navbar-header a{
  font-size: 250%;
  color: #05386B;
}
/* navbar tabs */
.navbar-collapse li a{
  color: #abb5af;
  font-weight: bold;
}
.navbar-collapse li a:hover{
  color: #5CDB95;
}
